torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo
scikit-learn
langchain-core
langchain-community
langchain_groq
sentence-transformers
faiss-cpu
